﻿html {
    scroll-behavior: smooth;
}

/* LINKS */
a.link_button {
    margin-left: auto;
    color: white;
    text-decoration: none;
    background-color: transparent;
    border-bottom: 2px solid #8c0000;
}
a.link_button:hover {
    margin-left: auto;
    text-decoration: none;
    color: gainsboro;
    border-bottom: 2px solid gainsboro;
    transition: 0.5s;
}
a.link_button:active {
    margin-left: auto;
    text-decoration: none;
    color: gainsboro;
    border-bottom: 2px solid gainsboro;
}
a.link {
    color: #586069;
    text-decoration: none;
    background-color: transparent;
}
a.link:hover {
    color: #8c0000;
    text-decoration: none;
    background-color: transparent;
    transition: 0.5s;
}
a.link:active {
    color: #8c0000;
    text-decoration: none;
    background-color: transparent;
}
a.link_descarga {
    color: #586069;
    text-decoration: none;
    background-color: transparent;
}
a.link_descarga:hover {
    color: #8c0000;
    text-decoration: none;
    background-color: transparent;
    transition: 0.5s;
}

/* Cabecera */
div.nav {
    width: 100%;
    padding: 10px 10%;
    color: white;
    background-color: #8c0000;
    border-bottom: 1px solid gainsboro;
    box-shadow: rgba(27,31,35,.15) 0px 1px 5px;
}
div.nav_button {
    padding: 10px;
}
span.nav {
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
}

/* Centro */
div.centro_texto {
    width: 100%;
    height: auto;
    padding: 0 30%;
    margin: 50px 0px;
    text-align: left;
}
div.centro_descarga {
    width: 100%;
    height: auto;
    padding: 0 30%;
    text-align: left;
}
div.button {
    width: 150px;
    margin: 0 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgba(27,31,35,.15) 0 1px 5px;
    text-align: center;
}
h3.cuerpo {
    color: #313131;
}
p.cuerpo {
    color: #586069;
}
ul.descargas {
    margin: 10px 0;
    padding: 0;
}
li.descargas {
    display: inline-block;
    margin: 0 auto;
}

/* Pie */
div.pie {
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 10px 10%;
    color: #586069;
    background-color: ghostwhite;
}
div.iconos {
    display: inline-block;
    position: relative; 
}
div.texto {
    display: inline-block;
    position: relative;
    font-size: 12px;
    margin-left: 1%;
}
